* {
padding: 0;
margin: 0;
cursor: pointer;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

header, footer{
  background-color: darkolivegreen;
  font-size: 1.5rem;
  height: 60px;
  width: 100%;
  line-height: 60px;
}

h1{
  text-align: center;
}

.image{
  display: block;
  text-align: center;

}
header{
  text-align: right;
  margin-bottom: 0;
  width: auto;
  height: 100px;
  border-radius: 0 0 90px 39px;
}
#footer{
  position: absolute;
  margin-top: 0;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.header-content{
  text-align: right;
  margin-right: 10px;
}

.github{
text-decoration: none;
}
.github:hover{
  color: black;
}

#caption{
  margin-top: 20px;
}

.form{
  background-color: rgb(245, 245, 220);
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  height: 12rem;
}

.list{
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button{
  background-color: lightgrey;
  border: none;
  height: 40px;
  width: 70px;
  font-size: 20px;
  border-radius: 5px;
}
.submit-button:hover{
  background-color: grey;
  border: solid;
}